<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RxJS - {{title}}</title>
    <base href="{{baseUrl}}">
    <link href="assets/material-design-icons/material-icons.css" rel="stylesheet">
    <link href="assets/droid-sans-mono/fonts.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{style}}" rel="stylesheet">
    <script src="assets/prettify.js"></script>
    <style>
        .api-body {
            max-width: unset;
        }

        table {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="sidenav-content" style="padding: 1rem">
        {{content}}
    </div>
    <script>
        document.querySelectorAll('code-example')
            .forEach(function (code) {
                code.innerHTML = '<pre class="prettyprint"><code>' + PR.prettyPrintOne(code.innerHTML, code.getAttribute(
                    'language'), 0) + '</code></pre>';
            })
    </script>
</body>
</body>
</html>